<!DOCTYPE html>
<html lang="en">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Niner Thrift</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link{% if list_movies_active %} active{% endif %}" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if create_rating_active %} active{% endif %}" href="/movies/new">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if search_active %} active{% endif %}" href="/create_post">Create a Listing</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
