{% extends "_layout.html" %}
{% block title %}Create a Listing{% endblock %}
{% block body %}
<style>
    .form-container {
        background-image: url('../static/abstract_bg1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; 
    }

    .form-group {
        margin-bottom: 10px; 
    }

    label{
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .drop-zone{
        max-width: 200px;
        height: 100px;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: sans-serif;
        font-size: 15px;
        cursor: pointer;
        color: rgb(92, 89, 85);
        border: 4px dashed lightblue;
        border-radius: 5px;
    }
    .drop-zone--over{
        border-style: solid;
    }

    .drop-zone__input{
        display: none;
    }

    .drop-zone__thumb {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #cccccc;
        background-size: cover;
        position: relative;
    }

    .drop-zone__thumb::after{
        content: attr(data-label);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        color: white;
        background: rgb(62, 65, 62);
        font-size: 14px;
        text-align: center;
    }

    .file-item {
        margin-bottom: 5px;
    }

    .remove-button {
        color: #fff;
        background-color: #f00;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .remove-button:hover {
        background-color: #c00;
    }

    .logosmall {
        display: block; 
        margin: 0 auto; 
        height: auto;
        width: 400px;
    }

</style>

<div class="form-container">
<br><img src="/static/createpost.png" alt="create a post" class="logosmall"><br>

<form action="/create_post" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" required>
    </div>


    <!-- <div class="form-group">
        <label for="hashtags">Hashtags</label>
        <input type="text" id="hashtags" name="hashtags" required>
    </div> -->

    <div class="form-group">
        <label for="condition">Condition</label>
        <select id="condition" name="condition" required>
            <option value="new">New</option>
            <option value="good">Good</option>
            <option value="fair">Fair</option>
            <option value="poor">Poor</option>
        </select>
    </div>
    

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" style="width: 300px; height: 150px;" placeholder="Tell us more..." required></textarea>
    </div>

    <input type="file" id="myFile" name="myFile">
    <div id="file-list" class="file-list"></div><br><br>

    <input type="submit" value="Submit" style="background-color: green; color: white; border: none; border-radius: 20px; padding: 10px 20px; font-size: 16px; cursor: pointer;"><br><br><br>
</form>
</div>
{% endblock %}