{% extends '_layout.html' %}

{% block title %}Direct Messages{% endblock %}

{% block body %}
<style>
#inbox {
  width: 70%;
  margin: 0 auto;
}

.logosmall {
  display: block; 
  margin: 0 auto; 
  margin-bottom: 30px;
  height: auto;
  width: 400px;
}

#inbox h2 {
  text-align: center;
}

#user-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.user-link {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.user-link:hover {
  text-decoration: underline;
}

.no-users {
  text-align: center;
  font-size: 18px;
  color: #666;
}
</style>

<br><img src="/static/messages.png" alt="favorites" class="logosmall"><br>

<div id="inbox">
  <h2>Inbox</h2>
  {% if users %}
    <ul id="user-list">
      {% for user in users %}
        <li>
          <a href="/chat_log/{{ user.id }}" class="user-link">{{ user.username }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="no-users">No one here! Go make some friends</p>
  {% endif %}
</div>

{% endblock %}
