{% extends "_layout.html" %}
{% block title %}Niner Thrift | Profile{% endblock %}

{% block body %}
<h1>Edit Profile</h1>
<br>
<br>
<form action="{{ url_for('updated_profile') }}" method="POST" enctype="multipart/form-data">
    <label>New Username:</label>
    <input type="text" id="new_username" name="new_username" placeholder="Enter new username">
    <br><br>
    <label>New Bio:</label>
    <input type="text" id="new_bio" name="new_bio" placeholder="Enter a new bio">
    <br><br>
    <label for="profile_picture">New Profile Image:</label>
    <input type="file" name="new_profile_picture" id="new_rofile_picture" class="w-50" required>
    <br><br>
    <button class="btn btn-primary">Save Changes</button>
</form>


{% endblock %}