{% extends "_layout.html" %}

{% block body %}


<style>
.container {
    display: flex;
    height: 100vh;
    justify-content: center; 
}

.left-content {
    flex: 0 0 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5%; 
    padding-right: 10%;
    text-align: center;
}

.logosmall {
    width: 70%; 
    display: block; 
    margin: 0 auto; 
}

.right-content {
    flex: 0 0 50%;
    background-color: rgb(177, 229, 177);
    padding: 7% 5% 5% 8%;
    align-items: center; 
}

.right-content form {
    font-size: 1.5em; 
    padding-left: 10%;
    padding-top: 0;
    width: 90%;
}

.right-content input[type="email"],
.right-content input[type="password"] {
    height: 45px; 
    font-size: 0.8em; 
    padding: 10px; 
}

.content-wrapper {
    width: 80%; 
}

.loginleft {
    width: 600px; 
    height: auto; 
    align-items: center;
    justify-content: center;
}

.login-form, .signup-form {
    background-image: url('../static/abstract_bg1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgba(0, 0, 0, 0.479);
    color: black;
    padding-bottom: 100px; /* Increase the padding on bottom */
    padding-left: 450px;
    padding-right: 450px; /* Adjust padding on left and right as needed */
    justify-content: center;
    width: 100%;
    font-size: 1em;
    min-height: 100vh;
}

.login-form button, 
.signup-form button, 
.right-content button {
    background-color: rgb(3, 91, 3); 
    border-color: green;
    border-radius: 25px;
    font-size: 1em; 
    padding: 5px 10px;
}

.signup {
    display: block;
    margin: 0 auto 20px 0;
    height: auto;
    width: 250px;
}

</style>


<!-- Anessa's Signup/Login Page -->

{% if is_user == 1 %}
    <div class="login-form">
        <h1 class="mt-5 mb-5">Login</h1>
        <form action="/login" method="POST">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" class="w-50" required><br><br>
            <label for="password">Password</label><br>
            <input type="text" name="password" id="password" class="w-50" required minLength="8"><br><br>
            <button type="submit" name="login" id="login" class="btn w-50 btn-primary">Login</button>
        </form>
    </div>
    {% if error %}
        <h3>{{ error. message }}</h3>
    {% endif %}
{% elif is_user == 2 %}
    <div class="signup-form">
        <br><img src="/static/signup.png" alt="explore" class="signup">
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <label for="first_name">First Name</label><br>
            <input type="text" name="first_name" id="first_name" class="w-50" required><br><br>
            <label for="last_name">Last Name</label><br>
            <input type="text" name="last_name" id="last_name" class="w-50" required><br><br>
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username" class="w-50" required><br><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" class="w-50" required minLength="8"><br><br>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" class="w-50" required><br><br>
            <label for="dob">Date of Birth</label><br>
            <input type="date" name="dob" id="dob" class="w-50" required><br><br>
            <label for="biography">Biography</label><br>
            <textarea name="biography" id="biography" cols="30" rows="3" placeholder="Introduce yourself!"></textarea><br><br>
            <label for="profile_picture">Profile Image</label><br>
            <input type="file" name="profile_picture" id="profile_picture" class="w-50" required><br><br>
            <button type="submit" name="signup" id="signup" class="btn w-50 btn-primary">Create Account</button>
        </form>
    </div>
{% elif is_user == 0 %}

<div class="container">
    <div class="left-content">
        <!-- <p>The marketplace for Niners to buy and sell, new and used goods!</p> -->
        <h4>Looking for affordable textbooks, electronics, furniture, or fashion items? You're in the right place!</h4>
        <br><img src="/static/logo.png" alt="Niner Thrift" class="logosmall">
        <br><h5>Niner Thrifts is your go-to destination for buying and selling items within your student community.</h5>
        <!-- <p>Join our vibrant community of students and start exploring the wide range of items available at great prices!</p> -->
        <br><br><br><img src="/static/items.png" alt="Items for Sale" class="loginleft">
    </div>
    <div class="right-content">
        <form action="/login" method="POST">
            <h1 class="mt-5 mb-5">Login</h1>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" class="w-75" placeholder="Enter your email" required><br><br>
            <label for="password" >Password</label><br>
            <input type="password" name="password" id="password" class="w-75" placeholder="Enter your password" required minlength="8"><br><br>
            <button type="submit" name="login" class="btn w-50 btn-primary">Login</button><br><br>
            <p class="small-text">Don't have an account? <a href="/signup">Sign up!</a></p>
        </form>
    </div>
</div>

    
{% endif %}

{% endblock %}