{% extends "_layout.html" %}

{% block title %}Individual Post{% endblock %}

{% block body %}
<style>
    .container {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .col-md-4 {
        margin-bottom: 15px;
    }

    .fa-chevron-left {
        color: grey;
        position: absolute;
        left: 50px;
        top: 100px;
    }

</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ post.image_url }}" class="img-fluid" alt="Post Image">
            </div>
            <div class="col-md-8">
                <a href="/explore"><i class="fas fa-chevron-left"></i></a>
                <h2>{{ post_title }}</h2>
                <p><strong>Price:</strong> {{ post.price }}</p>
                <p><strong>Description:</strong> {{ post.body }}</p>
                <p><strong>Date Posted:</strong> {{ post.posted_date }}</p>
                <p><strong><a href="/profile">{{ post.username }}</a></strong></p>
            </div>
        </div>
    </div>
</body>
{% endblock %}

