<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Niner Thrift</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="/static/images/niner_thrift_logo.png" alt="Niner Thrift"></a>
        </nav>
    </header>
    <main>
        <h2>Loved Items</h2>
        <h3>Click on the heart-shaped icon on posts to add to your loves page.</h3>
    </main>
    <footer>
        <nav>
            <a href="/profile"><img src="/static/images/profile_icon.png" alt="Profile"></a>
            <a href="/search"><img src="/static/images/search_icon.png" alt="Search"></a>
            <a href="/post/create"><img src="../static/images/create_icon.png" alt="Create Post"></a>
            <a href="/loved"><img src="/static/images/loved_icon.png" alt="Loved"></a>
            <a href="/messages"><img src="/static/images/messages_icon.png" alt="Messages"></a>
        </nav>
    </footer>
</body>
</html>