{% extends "_layout.html" %}
{% block body %}
<h1><img src="static/logo.png" width="550px" height="125px"></h1>
{% for key in profile_info.keys() %}
    <br>
    <div class="container">
        <div class="row"> 
            <div class="col-sm"><p><img src="{{ profile_info[key][0] }}" height="200px" width="300px"></p></div>
            <div class="col-sm">
                <p class="text-center">{{ profile_info[key][2] }}</p>
                <b><p class="text-center">Followers</p></b>
            </div>
            <div class="col-sm">
                <p class="text-center">{{ profile_info[key][3] }}</p> 
                <b><p class="text-center">Following</p></b>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <p>{{ key }}</p> 
                <div> <p>{{ profile_info[key][1] }}</p> </div>
            </div>
            <div class="col-4">
               <p class="text-end"><button type="button" class="btn btn-primary">Follow</button></p>
               <br>
                <p class="text-end"><button type="button" class="btn btn-primary">Message</button></p>
            </div>
        </div>
    </div>
{% endfor %}
<br>
<h3>Listings</h3>
<br>
<div class="container">
    <div class="row row-cols-4">
        {% for post in posts %}
        <div class="col"><img src="{{ post }}" height="250px" width="250px"></div>
        {% endfor %}
    </div>
</div>

{% endblock %}