{% extends "_layout.html" %}
{% block title %}Niner Thrift | Profile{% endblock %}

{% block body %}
<!--USE THIS FOR WHEN THE DATABASE IS IMPLEMENTED (replace top code with this)-->

<h2>{{ profile.username }}</h2>
<br>
<div class="container">
    <div class="row"> 
        <p><img alt="profile_image" src="{{ profile_picture_url }}" height="200px" width="300px"></p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div> <p>{{ profile.biography }}</p> </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
<br>
<h3>Listings</h3>
<br>
<div class="container">
<div class="row row-cols-4">
    {% for post in posts %}
    <div class="col">
        <a href="{{ url_for('show_individual_post', post_id=post.post_id) }}">
            <img src="{{ post.image_url }}" height="250px" width="250px">
        </a>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}