{% extends "_layout.html" %}
{% block title %}Niner Thrift | Profile{% endblock %}

{% block body %}
<!--USE THIS FOR WHEN THE DATABASE IS IMPLEMENTED (replace top code with this)-->
<style>
    .profile{
        border-radius: 50%;
    }
    .col-8{
        padding-top: 50px;
    }
    .col-4{
        width:240px;
    }
    .username{
        font-weight:bold;
    }
    .edit{
        width: 220px;
    }
</style>
<br>
<div class="container">
    <div class="row"> 
        <div class="col-4">
            <p><img class="profile" alt="profile_picture" src="{{ profile.profile_picture }}" height="200px" width="200px"></p>
            <br>
            <button class="edit"><a href="/edit_profile">Edit Profile</a></button>
        </div>
        <div class="col-8">
            <div class="username"><p>{{ profile.username }}</p></div>
            <div class="bio"> <p>{{ profile.biography }}</p> </div>
        </div>
    </div>
</div>
<br>
<br>
<h3>Listings</h3>
<br>
<div class="container">
<div class="row row-cols-4">
    {% for post in posts | reverse%}
    <div class="col">
        <a href="{{ url_for('show_individual_post', post_id=post.post_id) }}">
            <img src="{{ post.image_url }}" height="250px" width="250px">
        </a>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}