<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Niner Thrift</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="/static/images/niner_thrift_logo.png" alt="Niner Thrift"></a>
        </nav>
    </header>
    <main>
        <div class="create-form">
            <h2>Create Post</h2>
            <form action="/show" method="POST">
                <label for="image">Add Image (up to 5 images):</label><br><br>
                <input type="file" name="image" id="image" required><br><br>
                <label for="title">Title: </label>
                <input type="text" name="title" id="title" required><br><br>
                <label for="price">Price: </label>
                <input type="number" name="price" id="price" required><br><br>
                <label for="hashtags">Hashtags: </label>
                <input type="text" name="hashtags" id="hashtags"><br><br>
                <label for="description">Description: </label>
                <textarea name="description" id="description" cols="30" rows="3"></textarea><br><br>
                <button type="submit" name="submit" id="submit">Post</button><br><br>
            </form>
        </div>
    </main>
    <footer>
        <nav>
            <a href="/profile"><img src="/static/images/profile_icon.png" alt="Profile"></a>
            <a href="/search"><img src="/static/images/search_icon.png" alt="Search"></a>
            <a href="/post/create"><img src="../static/images/create_icon.png" alt="Create Post"></a>
            <a href="/loved"><img src="/static/images/loved_icon.png" alt="Loved"></a>
            <a href="/messages"><img src="/static/images/messages_icon.png" alt="Messages"></a>
        </nav>
    </footer>
</body>
</html>