body {
    width: auto;
    min-height: 100%;
    margin-left: 38%;
    margin-right: 35%;
}

header nav a img {
    margin-top: 2%;
    margin-bottom: 4%;
}

main {
    margin-top: 5%;
    margin-bottom: 5%;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(102, 170, 0);
}

a::before {
    color: green;
}

a::after {
    color:rgb(3, 48, 3);
}

footer nav {
    position: absolute;
    bottom: 0;
}

footer nav img {
    border: 2.2px solid rgb(190, 190, 190);
    border-radius: 25px;
    padding: 28px;
    width: 25px;
    height: 25px;
}